[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cmd2 = "*"
pyserial = "*"

[dev-packages]
pynvim = "*"
python-language-server = "*"

[requires]
python_version = "3.9"
